* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.component {
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  background: green;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.track {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 12px;
  padding: 0 3px;
  background-color: rgba(0, 0, 0, 0.112);
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.thumb {
  position: absolute;
  width: 100%;
  border-radius: 999rem;
  background-color: rgba(0, 0, 0, 0.257);
  pointer-events: auto;
}

.content {
  flex-direction: column-reverse;
}

.container {
  height: 200px;
}
